# dependencies
node_modules/
telltale/node_modules/

# next.js
.next/
telltale/.next/

# env
.env
.env.local

# misc
.vscode/

# ML files
ml/*.pkl
ml/*.pth
ml/*.joblib
ml/__pycache__/
*.pkl
*.pth
*.joblib